<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MediBook - Strona główna</title>
    <link href="/style/bootstrap.min.css" rel="stylesheet">
    <link href="/style/style.css" rel="stylesheet">
</head>

<body class="d-flex align-items-center justify-content-center">
<div class="container text-center">
    <h1>Kontakt</h1>

    <div>Tu by była ładna strona kontaktu z administratorami...</div>
</div>
</body>

<script src="/js/bootstrap.bundle.min.js"></script>
</html>
