<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title layout:fragment="title">MediBook</title>

        <link rel="icon" type="image/x-icon" href="/images/icon.png" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body class="min-vh-100 d-flex flex-column m-0">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <a class="navbar-brand d-flex align-items-center" href="#">
                        <img src="img/logo.png" alt="Logo" width="40" height="40" class="me-2">
                        <span>MediBook</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Strona główna</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="help-ropdown" role="button" data-bs-toggle="dropdown">
                                    Pomoc
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="help-ropdown">
                                    <li><a class="dropdown-item" href="#">Kontakt</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="flex-grow-1 d-flex flex-column">
            <article layout:fragment="content" class="flex-grow-1">
                
            </article>
        </main>

        <footer>
            <div class="text-center py-4 bg-light border-top">
                &copy; MediBook 2025
            </div>
        </footer>
    </body>

    <script src="/js/bootstrap.bundle.min.js"></script>
</html>
