<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Przemysław Kojs, Kacper Wieczorek" />
        <meta name="description" content="System internetowej rezerwacji wizyty u lekarza." />

        <title layout:fragment="title">MediBook</title>

        <link rel="icon" type="image/x-icon" href="/images/icon.png" />
        <link rel="stylesheet" href="/style/bootstrap.min.css" />
        <link rel="stylesheet" href="/style/style.css" /> <!-- !!! MUSI BYĆ PO BOOTSTRAPIE !!! -->
    </head>

    <body class="min-vh-100 d-flex flex-column m-0 txt-body">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom pe-5">
                <div class="container-fluid">
                    <a class="navbar-brand d-flex align-items-center" th:href="@{${homePath}}">
                        <img src="/images/logo.png" alt="Logo strony - książka z krzyżem lekarskim" width="40" height="40" class="me-2 rounded">

                        <span class="txt-header">MediBook</span>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ms-auto">
                            <th:block layout:fragment="extra-navbar"></th:block>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle txt-header" th:href="@{/help}" id="help-dropdown" role="button" data-bs-toggle="dropdown">
                                    Pomoc <img src="/images/icons/help.svg" class="w-25 h-25 img-light">
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="help-dropdown">
                                    <li><a class="dropdown-item" th:href="@{/contact}">Kontakt</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown me-5">
                                <a class="nav-link dropdown-toggle txt-header" href="#" id="account-dropdown" role="button" data-bs-toggle="dropdown">
                                    Konto <img src="/images/icons/person.svg" class="w-25 h-25 img-light">
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="account-dropdown">
                                    <li><a class="dropdown-item" th:href="@{${homePath} + '/account'}">Ustawienia</a></li>
                                    <li th:if="${#strings.contains(homePath, 'doctor')}"><a class="dropdown-item" th:href="'https://medibook.pl/oauth/realms/doctor/account'" target="_blank" rel="noopener noreferrer">Konto</a></li>
                                    <li th:if="${#strings.contains(homePath, 'client')}"><a class="dropdown-item" th:href="'https://medibook.pl/oauth/realms/client/account'" target="_blank" rel="noopener noreferrer">Konto</a></li>
                                    <li><a class="dropdown-item" onclick="logout()">Wyloguj</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="flex-grow-1 d-flex flex-column">
            <article layout:fragment="content" class="flex-grow-1 bg-light">
                <!-- Wypełniane przez content innych stron -->
            </article>

            <script>
                function logout(event) {
                    event.preventDefault();
                    document.cookie = "acces_token_client=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                    document.cookie = "acces_token_doctor=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                    window.location.href = "/";
                }
            </script>
        </main>

        <footer>
            <div class="text-center py-4 bg-primary border-top txt-header">
                &copy; MediBook 2025
            </div>
        </footer>
    </body>

    <script src="/js/bootstrap.bundle.min.js"></script>
</html>
