<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{doctor/layout-doctor}">

    <head>
        <title layout:fragment="title">Zabiegi</title>
    </head>

    <body>
        <section layout:fragment="content">
            <div class="container my-4">
                <h3 class="mb-3">Zabiegi</h3>

                <div class="container my-4">
                    <div id="working-hours-list">
                        <table class="table table-bordered table-striped align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">Opis</th>
                                    <th scope="col">Cena</th>
                                    <th scope="col">Czas trwania</th>
                                    <th scope="col">Akcja</th>
                                </tr>
                            </thead>

                            <tbody id="tbody">
                                <!-- JS -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr class="my-4">

                <h3 class="mb-3">Dodaj zabiegi</h3>

                <form id="working-hours-form" class="d-flex flex-wrap align-items-end gap-3">
                    <input type="hidden" id="id">

                    <div>
                        <label for="name" class="form-label">Nazwa</label>
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>

                    <div>
                        <label for="description" class="form-label">Opis</label>
                        <input type="text" id="description" name="description" class="form-control" required>
                    </div>

                    <div>
                        <label for="price" class="form-label">Cena</label>
                        <input type="number" id="price" name="price" class="form-control" required>
                    </div>

                    <div>
                        <label for="duration" class="form-label">Czas trwania (w minutach)</label>
                        <input type="number" id="duration" name="duration" class="form-control" required>
                    </div>

                    <div>
                        <button type="button" class="btn btn-primary mt-4" onclick="addWorkhour(event)">Dodaj</button>
                    </div>
                </form>
            </div>

            <script src="/js/userId.js"></script>

            <!-- Godziny pracy -->
            <script>
                const tbody = document.getElementById('tbody');

                function loadProcedures() {
                    // Tutaj się jakoś ID będzie musiało brać wgl
                    console.log("loadWorkhours()");

                    fetch(`https://medibook.pl/api/v1/doctors/doctor/token`, {
                        method: "GET",
                        headers: {
                            "Authorization": "Bearer " + doctorToken,
                            "Content-Type": "application/json"
                        }
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Błąd sieci: " + response.status);
                        }

                        return response.json();
                    })
                    .then(data => {
                        console.log(data);

                        const doctorId = data.id;

                        fetch(`https://medibook.pl/api/v1/workhours/${doctorId}`, {
                            method: "GET",
                            headers: {
                                "Authorization": "Bearer " + doctorToken,
                                "Content-Type": "application/json"
                            }
                        })
                        .then(response2 => {
                            if (!response2.ok) {
                                throw new Error("Błąd sieci: " + response2.status);
                            }

                            return response2.json();
                        })
                        .then(data2 => {
                            console.log(data2);

                            data2.forEach(element => {
                                console.log(element);

                                const wd = element.day;
                                const f = element.startTIme;
                                const t = element.endTime;

                                addChild(wd, f, t);
                            });
                        })
                    })
                    .catch(error => {
                        console.error(error);
                    });                    
                }

                function addChild(id, name, description, price, duration) {
                    const toAdd = document.createElement('tr');
                    const encode = str => encodeURIComponent(str);

                    toAdd.innerHTML = `
                        <td><input type="text" id="name-${id}" name="name" class="form-control" required></td>
                        <td><input type="text" id="description-${id}" name="description" class="form-control" required></td>
                        <td><input type="number" id="price" name="price" class="form-control" required></td>
                        <td><input type="number" id="duration" name="duration" class="form-control" required></td>

                        <td>
                            <button class="btn btn-outline-primary btn-sm me-1" onclick="editProcedure('${encode(id)}')">Edytuj</button>
                            <button class="btn btn-outline-danger btn-sm" onclick="deleteProcedure('${encode(id)}')">Usuń</button>
                        </td>
                    `;

                    tbody.appendChild(toAdd);
                    
                    
                }

                loadProcedures();
            </script>

            <!-- Operacje -->
            <script>
                function deleteProcedure(id) {
                    if (!confirm("Czy na pewno chcesz usunąć ten zabieg?"))
                        return;

                }

                function editProcedure(id) {
                    
                }
                
                function addProcedure(event) {
                    event.preventDefault();
                    
                }
            </script>
        </section>
    </body>
</html>