<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{doctor/layout-doctor}">

    <head>
        <title layout:fragment="title">Godziny pracy</title>
    </head>

    <body>
        <section layout:fragment="content">
            <div class="container my-4">
                <h3 class="mb-3">Moje godziny pracy</h3>

                <div class="container my-4">
                    <div id="working-hours-list">
                        <table class="table table-bordered table-striped align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Dzień tygodnia</th>
                                    <th scope="col">Od</th>
                                    <th scope="col">Do</th>
                                    <th scope="col">Akcja</th>
                                </tr>
                            </thead>

                            <tbody id="tbody">
                                <!-- JS -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr class="my-4">

                <h3 class="mb-3">Dodaj godziny pracy</h3>

                <form id="working-hours-form" class="d-flex flex-wrap align-items-end gap-3">
                    <div>
                        <label for="day-select" class="form-label">Dzień tygodnia</label>
                        <select id="day-select" class="form-select" required>
                            <option value="1" selected>Poniedziałek</option>
                            <option value="2">Wtorek</option>
                            <option value="3">Środa</option>
                            <option value="4">Czwartek</option>
                            <option value="5">Piątek</option>
                            <option value="6">Sobota</option>
                            <option value="7">Niedziela</option>
                        </select>
                    </div>

                    <div>
                        <label for="start-hour-select" class="form-label">Od</label>
                        <input type="time" id="start-hour-select" name="start-hour-select" class="form-control" required>
                    </div>

                    <div>
                        <label for="end-hour-select" class="form-label">Do</label>
                        <input type="time" id="end-hour-select" name="end-hour-select" class="form-control" required>
                    </div>

                    <div>
                        <button type="button" class="btn btn-primary mt-4" onclick="addWorkhour(event)">Dodaj</button>
                    </div>
                </form>
            </div>

            <script src="/js/userId.js"></script>

            <!-- Godziny pracy -->
            <script>
                const tbody = document.getElementById('tbody');

                function loadWorkhours() {
                    // Tutaj się jakoś ID będzie musiało brać wgl
                    console.log("loadWorkhours()");

                    fetch(`https://medibook.pl/api/v1/doctors/doctor/token`, {
                        method: "GET",
                        headers: {
                            "Authorization": "Bearer " + doctorToken,
                            "Content-Type": "application/json"
                        }
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Błąd sieci: " + response.status);
                        }

                        return response.json();
                    })
                    .then(data => {
                        console.log(data);

                        const doctorId = data.id;

                        fetch(`https://medibook.pl/api/v1/workhours/${doctorId}`, {
                            method: "GET",
                            headers: {
                                "Authorization": "Bearer " + doctorToken,
                                "Content-Type": "application/json"
                            }
                        })
                        .then(response2 => {
                            if (!response2.ok) {
                                throw new Error("Błąd sieci: " + response2.status);
                            }

                            return response2.json();
                        })
                        .then(data2 => {
                            console.log(data2);

                            data2.forEach(element => {
                                console.log(element);

                                const wd = element.day;
                                const f = element.startTIme;
                                const t = element.endTime;

                                addChild(wd, f, t);
                            });
                        })
                    })
                    .catch(error => {
                        console.error(error);
                    });                    
                }

                function addChild(weekday, from, to) {
                    const toAdd = document.createElement('tr');
                    const encode = str => encodeURIComponent(str);

                    toAdd.innerHTML = `
                        <td>
                            <select id="day-select-${weekday}" class="form-select" required>
                                <option value="1">Poniedziałek</option>
                                <option value="2">Wtorek</option>
                                <option value="3">Środa</option>
                                <option value="4">Czwartek</option>
                                <option value="5">Piątek</option>
                                <option value="6">Sobota</option>
                                <option value="7">Niedziela</option>
                            </select>
                        </td>
                        <td><input type="time" id="start-hour-select-${weekday}" name="start-hour-select" class="form-control" required></td>
                        <td><input type="time" id="end-hour-select-${weekday}" name="end-hour-select" class="form-control" required></td>

                        <td>
                            <button class="btn btn-outline-primary btn-sm me-1" onclick="editWorkhour('${encode(weekday)}')">Edytuj</button>
                            <button class="btn btn-outline-danger btn-sm" onclick="deleteWorkhour('${encode(weekday)}')">Usuń</button>
                        </td>
                    `;

                    tbody.appendChild(toAdd);
                    
                    let weekdayName = "Poniedziałek";

                    switch(weekday) {
                        case 2:
                            weekdayName = "Wtorek";
                            break;
                        case 3:
                            weekdayName = "Środa";
                            break;
                        case 4:
                            weekdayName = "Czwartek";
                            break;
                        case 5:
                            weekdayName = "Piątek";
                            break;
                        case 6:
                            weekdayName = "Sobota";
                            break;
                        case 7:
                            weekdayName = "Niedziela";
                            break;
                    }

                    document.getElementById(`day-select-${weekday}`).value = weekday;
                    document.getElementById(`start-hour-select-${weekday}`).value = from;
                    document.getElementById(`end-hour-select-${weekday}`).value = to;
                }

                loadWorkhours();
            </script>

            <!-- Operacje -->
            <script>
                function deleteWorkhour(day) {
                    if (!confirm("Czy na pewno chcesz usunąć te godziny pracy?"))
                        return;

                    fetch(`https://medibook.pl/api/v1/workhours/doctor/${day}`, {
                        method: 'DELETE',
                        headers: {
                            "Authorization": "Bearer " + doctorToken,
                            "Content-Type": "application/json" 
                        }                                               
                    })
                    .then(response => {
                        if (response.ok) {
                            alert("Godziny pracy usunięte"); // To trzeba ładniej
                            location.reload();
                        }
                        else {
                            alert("Błąd usuwania godzin pracy"); // To trzeba ładniej
                        }
                    });
                }

                function editWorkhour(day) {
                    let from = document.getElementById(`start-hour-select-${day}`).value;
                    let to = document.getElementById(`end-hour-select-${day}`).value;

                    const data = {
                        startTime: from + ":00",
                        endTime: to + ":00"
                    };

                    fetch(`https://medibook.pl/api/v1/workhours/doctor/${day}`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                            "Authorization": "Bearer " + doctorToken
                        },
                        body: JSON.stringify(data)
                    })
                    .then(response => {
                        if (response.ok) {
                            alert("Godziny pracy zaktualizowane"); // To trzeba ładniej
                            location.reload();
                        }
                        else {
                            alert("Błąd edycji godzin pracy"); // To trzeba ładniej
                        }
                    });
                }
                
                function addWorkhour(event) {
                    event.preventDefault();

                    const weekday = document.getElementById('day-select').value;
                    const from = document.getElementById('start-hour-select').value;
                    const to = document.getElementById('end-hour-select').value;

                    const data = {
                        day: parseInt(weekday),
                        startTime: from + ":00",
                        endTime: to + ":00"
                    };

                    console.log('data', data);

                    fetch('https://medibook.pl/api/v1/workhours/doctor', {
                        method: 'POST',
                        headers: {
                            "Authorization": "Bearer " + doctorToken,
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    .then(response => {
                        if (response.ok) {
                            alert("Godziny pracy dodane"); // To zamienić na coś ładniejszego
                            location.reload();
                        }
                        else {
                            alert("Błąd dodawania godzin pracy"); // To zamienić na coś ładniejszego
                        }
                    });
                }
            </script>
        </section>
    </body>
</html>