<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout-client}">

    <head>
        <title layout:fragment="title">Moje wizyty</title>
    </head>

    <body>
        <section layout:fragment="content">
            <div class="container my-4">
                <h3 class="mb-3">Nadchodzące wizyty</h3>

                <div class="container my-4">
                    <div id="incoming-visits">
                        <table class="table table-bordered table-striped align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Data</th>
                                    <th scope="col">Od</th>
                                    <th scope="col">Doktor</th>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">Opis</th>
                                    <th scope="col">Czas trwania</th>
                                    <th scope="col">Akcja</th>
                                </tr>
                            </thead>

                            <tbody id="tbody">
                                <!-- JS -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <script src="/js/userId.js"></script>

            <script>
                const tbody = document.getElementById('tbody');

                function loadVisits() {
                    console.log("loadVisits()");

                    fetch("https://medibook.pl/api/v1/visits/client", {
                        method: "GET",
                        headers: {
                            "Authorization": "Bearer " + clientToken,
                            "Content-Type": "application/json"
                        }
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Błąd sieci: " + response.status);
                        }

                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        
                        data.forEach(element => {
                            const clientId = element.clientId;
                            const date = element.date;
                            const doctorId = element.doctorId;
                            const procedureId = element.procedureId;
                            const status = element.visitState;
                            const visitId = element.visitId;
                            const from = element.startTime;
                            let doctorName = "";                            
                            let to = "";
                            let name = "";
                            let description = "";
                            let duration = "";

                            fetch(`https://medibook.pl/api/v1/doctors`)
                            .then(response2 => {
                                if (!response2.ok) {
                                    throw new Error("Błąd sieci: " + response2.status);
                                }

                                return response2.json();
                            })
                            .then(data2 => {
                                console.log("doctor load", data2);

                                for (let i = 0; i < data2.length; i++) {
                                    if (data2[i].id === doctorId) {
                                        doctorName = `${data2[i].name} ${data2[i].lastName}`;
                                        break;
                                    }
                                }       
                                
                                fetch(`https://medibook.pl/api/v1/procedures/${[procedureId]}`)
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error("Błąd sieci: " + response.status);
                                    }

                                    return response.json();
                                })
                                .then(data => {
                                    console.log("procedure load", data);

                                    name = data.name;
                                    description = data.description;
                                    duration = data.length;

                                    console.log("row", visitId, date, from, doctorName, name, description, duration, status);
                                    addChild(visitId, date, from, doctorName, name, description, duration, status);
                                });                                
                            });                            
                        });
                    })
                    .catch(error => {
                        console.error(error);
                    });
                }

                function addChild(id, date, from, doctor, name, description, duration, status) {
                    const toAdd = document.createElement('tr');

                    if (status == "CREATED") {
                        toAdd.innerHTML = `
                            <td>${date}</td>
                            <td>${from}</td>
                            <td>${doctor}</td>
                            <td>${name}</td>
                            <td>${description}</td>
                            <td>${duration}</td>
                            <td>${status}</td>

                            <td>
                                <button class="btn btn-outline-primary btn-sm" onclick="details('${id}')">Szczegóły</button>
                                <button class="btn btn-outline-danger btn-sm" onclick="cancel('${id}')">Odwołaj</button>
                            </td>
                        `;
                    }
                    else {
                        toAdd.innerHTML = `
                            <td>${date}</td>
                            <td>${from}</td>
                            <td>${doctor}</td>
                            <td>${name}</td>
                            <td>${description}</td>
                            <td>${duration}</td>
                            <td>${status}</td>

                            <td>
                                <button class="btn btn-outline-primary btn-sm" onclick="details('${id}')">Szczegóły</button>
                            </td>
                        `;
                    }                    

                    tbody.appendChild(toAdd);
                }

                function details(id) {
                    alert("Tu powinno być przekierowanie do czytelniejszego ekranu...");
                }

                function cancel(id) {
                    if(!confirm("Czy na pewno chcesz odwołać wizytę?"))
                        return;

                    fetch(`https://medibook.pl/api/v1/visits/client/cancel/${id}`, {
                        method: 'DELETE',
                        headers: {
                            'Authorization': 'Bearer ' + clientToken
                        }
                    })
                    .then(res => res.json())
                    .then(data => {
                        console.log(data);
                        alert('Pomyślnie odwołano wizytę');
                        window.location.reload();
                    })
                    .catch(error => {
                        alert('Błąd przy anulowaniu wizyty');
                        console.error(error);
                    });
                }

                loadVisits();
            </script>
        </section>
    </body>
</html>