<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout-admin}">

    <head>
        <title layout:fragment="title">Użytkownicy</title>
    </head>

    <body>
        <section layout:fragment="content">
            <h2>Zarządzanie użytkownikami</h2>

            <div>
                <!-- Tu trza będzie zrobić tabelkę ze wszystkimi danymi użytkownika + możliwość usunięcia konta-->
                <!-- Szczegóły, Usuń -->
            </div>
        </section>
    </body>
</html>